# Lab IS&A
## Bagattin Enrico - Alessandro Doretto

In [1]:
# Import
import pandas as pd
import numpy as np
import glob

# Modules
from utilities import *
from dataPreparation import *

In [2]:
# Import data
years = [2017, 2018, 2019, 2020]
yearsForFeatures = [2016, 2017, 2018, 2019, 2020]
paths = []
for y in years:
    paths.append('matches/' + str(y) + '.xlsx') 
availablePaths = list(glob.glob("matches/20*.xlsx"))
matches = [pd.read_excel(path) for path in paths]
yearZeroForFeatures = pd.read_excel('matches/' + str(years[0]-1) + '.xlsx')
# TODO: Load matches based on number of past years choosen
df = pd.concat(matches, ignore_index=True, sort=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8254 entries, 0 to 8253
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         8254 non-null   int64
 1   Location    8254 non-null   object
 2   Tournament  8254 non-null   object
 3   Date        8254 non-null   datetime64[ns]
 4   Series      8254 non-null   object
 5   Court       8254 non-null   object
 6   Surface     8254 non-null   object
 7   Round       8254 non-null   object
 8   Best of     8254 non-null   int64
 9   Winner      8254 non-null   object
 10  Loser       8254 non-null   object
 11  WRank       8250 non-null   float64
 12  LRank       8230 non-null   float64
 13  WPts        8251 non-null   float64
 14  LPts        8230 non-null   float64
 15  W1          8199 non-null   float64
 16  L1          8201 non-null   float64
 17  W2          8140 non-null   float64
 18  L2          8140 non-null   float64
 19  W3          4038 non-null   float64
 20  L3          4038 non-null   float64
 21  W4          830 non-null    float64
 22  L4          830 non-null    float64
 23  W5          299 non-null    float64
 24  L5          299 non-null    float64
 25  Wsets       8199 non-null   float64
 26  Lsets       8197 non-null   float64
 27  Comment     8254 non-null   object
 28  B365W       8217 non-null   float64
 29  B365L       8217 non-null   float64
 30  EXW         5238 non-null   float64
 31  EXL         5238 non-null   float64
 32  LBW         4527 non-null   float64
 33  LBL         4529 non-null   float64
 34  PSW         8204 non-null   float64
 35  PSL         8204 non-null   float64
 36  MaxW        8249 non-null   float64
 37  MaxL        8249 non-null   float64
 38  AvgW        8249 non-null   float64
 39  AvgL        8249 non-null   float64
dtypes: datetime64[ns](1), float64(28), int64(2), object(9)
memory usage: 2.5+ MB

In [3]:
df.head().T

,0,1,2,3,4
ATP,1,1,1,1,1
Location,Brisbane,Brisbane,Brisbane,Brisbane,Brisbane
Tournament,Brisbane International,Brisbane International,Brisbane International,Brisbane International,Brisbane International
Date,2017-01-01 00:00:00,2017-01-02 00:00:00,2017-01-02 00:00:00,2017-01-02 00:00:00,2017-01-02 00:00:00
Series,ATP250,ATP250,ATP250,ATP250,ATP250
Court,Outdoor,Outdoor,Outdoor,Outdoor,Outdoor
Surface,Hard,Hard,Hard,Hard,Hard
Round,1st Round,1st Round,1st Round,1st Round,1st Round
Best of,3,3,3,3,3
Winner,Thompson J.,Mahut N.,Ferrer D.,Edmund K.,Dimitrov G.
Loser,Ymer E.,Robert S.,Tomic B.,Escobedo E.,Johnson S.
WRank,79,39,21,45,17
LRank,160,54,26,141,33
WPts,689,1102,1785,1001,2035
LPts,372,854,1465,443,1320
W1,6,4,6,7,6
L1,3,6,3,6,2
W2,6,6,7,7,6
L2,2,3,5,6,3
W3,NaN,6,NaN,NaN,NaN
L3,NaN,4,NaN,NaN,NaN
W4,NaN,NaN,NaN,NaN,NaN
L4,NaN,NaN,NaN,NaN,NaN
W5,NaN,NaN,NaN,NaN,NaN
L5,NaN,NaN,NaN,NaN,NaN
Wsets,2,2,2,2,2
Lsets,0,1,0,0,0
Comment,Completed,Completed,Completed,Completed,Completed
B365W,1.28,1.5,1.9,1.36,1.4
B365L,3.5,2.5,1.8,3,2.75
EXW,1.22,1.45,1.88,1.35,1.38
EXL,3.5,2.35,1.75,2.75,2.65
LBW,1.3,1.53,2,1.4,1.4
LBL,3.5,2.5,1.8,3,3
PSW,1.31,1.58,2.1,1.42,1.41
PSL,3.73,2.52,1.81,3.09,3.13
MaxW,1.33,1.59,2.15,1.42,1.46
MaxL,3.9,2.55,1.82,3.25,3.13
AvgW,1.29,1.54,2.01,1.37,1.41
AvgL,3.5,2.43,1.77,3.01,2.85

In [4]:
df.describe(include='all', percentiles=[]).T

,count,unique,top,freq,mean,std,min,50%,max,first,last
ATP,8254,NaN,NaN,NaN,32.2989,18.9789,1,32,67,NaT,NaT
Location,8254,70,Paris,522,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Tournament,8254,81,Australian Open,508,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Date,8254,882,2020-01-21 00:00:00,51,NaN,NaN,NaN,NaN,NaN,2017-01-01,2020-02-16
Series,8254,5,ATP250,3521,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Court,8254,2,Outdoor,6894,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Surface,8254,3,Hard,4829,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Round,8254,8,1st Round,3712,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Best of,8254,NaN,NaN,NaN,3.39932,0.799539,3,3,5,NaT,NaT
Winner,8254,311,Nadal R.,166,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Loser,8254,437,Paire B.,91,NaN,NaN,NaN,NaN,NaN,NaT,NaT
WRank,8250,NaN,NaN,NaN,59.7907,70.4475,1,44,1821,NaT,NaT
LRank,8230,NaN,NaN,NaN,86.4049,104.477,1,63,1821,NaT,NaT
WPts,8251,NaN,NaN,NaN,1755.96,1922.99,1,1038,12560,NaT,NaT
LPts,8230,NaN,NaN,NaN,1130.92,1162.02,1,828,12560,NaT,NaT
W1,8199,NaN,NaN,NaN,5.81315,1.22826,0,6,7,NaT,NaT
L1,8201,NaN,NaN,NaN,4.17986,1.81933,0,4,7,NaT,NaT
W2,8140,NaN,NaN,NaN,5.78698,1.26599,0,6,7,NaT,NaT
L2,8140,NaN,NaN,NaN,4.03686,1.83195,0,4,7,NaT,NaT
W3,4038,NaN,NaN,NaN,6.05547,0.92626,0,6,7,NaT,NaT
L3,4038,NaN,NaN,NaN,3.72536,1.77076,0,4,7,NaT,NaT
W4,830,NaN,NaN,NaN,5.78554,1.3133,0,6,7,NaT,NaT
L4,830,NaN,NaN,NaN,3.93735,1.93087,0,4,7,NaT,NaT
W5,299,NaN,NaN,NaN,6.61873,2.04688,2,6,26,NaT,NaT
L5,299,NaN,NaN,NaN,3.77592,2.6292,0,3,24,NaT,NaT
Wsets,8199,NaN,NaN,NaN,2.166,0.448776,0,2,3,NaT,NaT
Lsets,8197,NaN,NaN,NaN,0.435891,0.564481,0,0,2,NaT,NaT
Comment,8254,5,Completed,7982,NaN,NaN,NaN,NaN,NaN,NaT,NaT
B365W,8217,NaN,NaN,NaN,1.85795,1.06671,1.002,1.57,29,NaT,NaT
B365L,8217,NaN,NaN,NaN,3.26145,3.10471,0.967,2.37,41,NaT,NaT
EXW,5238,NaN,NaN,NaN,1.82311,0.934558,1,1.55,17,NaT,NaT
EXL,5238,NaN,NaN,NaN,2.9914,2.03374,1,2.35,20,NaT,NaT
LBW,4527,NaN,NaN,NaN,1.87396,1.06196,1,1.57,21,NaT,NaT
LBL,4529,NaN,NaN,NaN,3.17269,2.55614,1.01,2.37,41,NaT,NaT
PSW,8204,NaN,NaN,NaN,1.94391,1.18476,1.005,1.61,27.22,NaT,NaT
PSL,8204,NaN,NaN,NaN,3.5595,3.56152,1.01,2.47,37.8,NaT,NaT
MaxW,8249,NaN,NaN,NaN,2.0065,1.3253,1.01,1.65,41,NaT,NaT
MaxL,8249,NaN,NaN,NaN,3.769,4.1778,1.01,2.55,67,NaT,NaT
AvgW,8249,NaN,NaN,NaN,1.87054,1.01126,1.01,1.58,21.2,NaT,NaT
AvgL,8249,NaN,NaN,NaN,3.22506,2.71803,1.01,2.37,28.49,NaT,NaT

# Cleaning and preparing data

## Remove Winner/Loser reference
All the column with Winner/Loser reference will be substituted by Player0/Player1.

In [5]:
df = removeWinnerLoserReference(df)
yearZeroForFeatures = removeWinnerLoserReference(yearZeroForFeatures)

## Filling null:
* Rank: take the max rank plus one
* Pts: set default zero	
* Avg odd: take mode of matches with same (or similar) players rank
* B365, PS: fill with avg

In [6]:
rankDefault = max(df['Rank0'].max(), df['Rank1'].max())+1
df.fillna({'Rank0': rankDefault, 'Rank1': rankDefault, 'Pts0': 0, 'Pts1': 0}, inplace=True)

nullOddsDf = df[df[['B3650', 'B3651', 'PS0', 'PS1', 'Avg0', 'Avg1']].isna().any(axis=1)]
for index, row in nullOddsDf.iterrows():
    if pd.isnull(row['Avg0']) or pd.isnull(row['Avg1']):
        Avg0, Avg1 = findOddsForRow(row, df.dropna(subset=['Avg0', 'Avg1']))
        df.at[index, 'Avg0'] = row['Avg0'] = Avg0
        df.at[index, 'Avg1'] = row['Avg1'] = Avg1
    if pd.isnull(row['B3650']):
        df.at[index, 'B3650'] = row['Avg0']
    if pd.isnull(row['B3651']):
        df.at[index, 'B3651'] = row['Avg1']
    if pd.isnull(row['PS0']):
        df.at[index, 'PS0'] = row['Avg0']
    if pd.isnull(row['PS1']):
        df.at[index, 'PS1'] = row['Avg1']

df.dropna(subset=['Avg0', 'Avg1'], inplace=True) # Drop rows that hasn't similar rank matches
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8254 entries, 0 to 8253
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        8254 non-null   datetime64[ns]
 1   Location    8254 non-null   object
 2   Tournament  8254 non-null   object
 3   Series      8254 non-null   object
 4   Court       8254 non-null   object
 5   Surface     8254 non-null   object
 6   Round       8254 non-null   object
 7   Player0     8254 non-null   object
 8   Player1     8254 non-null   object
 9   Rank0       8254 non-null   float64
 10  Rank1       8254 non-null   float64
 11  Pts0        8254 non-null   float64
 12  Pts1        8254 non-null   float64
 13  Comment     8254 non-null   object
 14  B3650       8254 non-null   float64
 15  B3651       8254 non-null   float64
 16  PS0         8254 non-null   float64
 17  PS1         8254 non-null   float64
 18  Avg0        8254 non-null   float64
 19  Avg1        8254 non-null   float64
dtypes: datetime64[ns](1), float64(10), object(9)
memory usage: 1.3+ MB

## Handle Round ????????

In [7]:
# X['Round'].value_counts()

In [8]:
# you might change this according to a notion of weight
# X['Round'] = X['Round'].map ({  '1st Round'    : 1, 
#                                 '2nd Round'    : 2, 
#                                 '3rd Round'    : 4,
#                                 '4th Round'    : 8,
#                                 'Quarterfinals': 16,
#                                 'Round Robin'  : 32,
#                                 'Semifinals'   : 32,
#                                 'The Final'    : 64})

## New features
* [Elo rating](https://en.wikipedia.org/wiki/Elo_rating_system): a method for calculating the relative skill levels of players in zero-sum games
* Number of matches played during the last year
* Percentage of matches won during the last year
* Injuries: number matches in witch the player retired or walkover in the past year 
* Winning streak: current sequence of won games

In [9]:
X = addEloRatingFeature(df)

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [10]:
X = addMatchesPlayedAndWonFeatures(X, yearZeroForFeatures, yearsForFeatures)

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [11]:
X = addInjuriesAndWinningStreakFeatures(X, yearZeroForFeatures, yearsForFeatures)

Progress: |██████████████████████████████████████████████████| 100.0% Complete

In [12]:
X.to_csv('generated/beforeDuplication.csv', index=False)

## Row duplication
To use both match outcomes for our prediction models we will duplicate each row. We can do it by switching all the player features for each duplicated row and adding a Winner column for the match result

In [13]:
X.columns

Index(['Date', 'Location', 'Tournament', 'Series', 'Court', 'Surface', 'Round',
       'Player0', 'Player1', 'Rank0', 'Rank1', 'Pts0', 'Pts1', 'Comment',
       'B3650', 'B3651', 'PS0', 'PS1', 'Avg0', 'Avg1', 'EloRating0',
       'EloRating1', 'MatchesPlayed0', 'MatchesPlayed1', 'MatchesWon0',
       'MatchesWon1', 'Injuries0', 'Injuries1', 'WinningStreak0',
       'WinningStreak1'],
      dtype='object')

In [14]:
duplication = X.copy()
duplication.columns = ['Date', 'Location', 'Tournament', 'Series', 'Court', 'Surface', 'Round',
       'Player1', 'Player0', 'Rank1', 'Rank0', 'Pts1', 'Pts0', 'Comment',
       'B3651', 'B3650', 'PS1', 'PS0', 'Avg1', 'Avg0', 'EloRating1',
       'EloRating0', 'MatchesPlayed1', 'MatchesPlayed0', 'MatchesWon1',
       'MatchesWon0', 'Injuries1', 'Injuries0', 'WinningStreak1',
       'WinningStreak0']

# Add the winner column
X = X.assign(Winner=np.zeros(X.shape[0])) # Player 0 always win
duplication = duplication.assign(Winner=np.ones(X.shape[0])) # Player 1 always win

X = pd.concat([X, duplication])
X.reset_index(inplace=True)
X.sort_values(by='index', inplace=True)
X.drop(columns=['Date', 'Comment', 'index'], inplace=True)

## One hot encoding
* Location
* Tournament
* Series
* Court
* Surface
* Round
* Players

In [15]:
X = pd.get_dummies(X)
print('Total number of columns:', len(X.columns))

X.to_csv('generated/finalDataset.csv', index=False)

Total number of columns: 1064

## Dataset subdivision: Train, Validation, Test

Train 60%, Validation 20%, Test 20% (taking as test the last part of the dataset)

In [25]:
X = pd.read_csv('generated/finalDataset.csv')

X.head()

,Rank0,Rank1,Pts0,Pts1,B3650,B3651,PS0,PS1,Avg0,Avg1,...,Player1_Zayid M.S.,Player1_Zeballos H.,Player1_Zekic M.,Player1_Zhang Ze,Player1_Zhang Ze.,Player1_Zhang Zh.,Player1_Zopp J.,Player1_Zverev A.,Player1_Zverev A.,Player1_Zverev M.
0,79.0,160.0,689.0,372.0,1.28,3.50,1.31,3.73,1.29,3.50,...,0,0,0,0,0,0,0,0,0,0
1,160.0,79.0,372.0,689.0,3.50,1.28,3.73,1.31,3.50,1.29,...,0,0,0,0,0,0,0,0,0,0
2,54.0,39.0,854.0,1102.0,2.50,1.50,2.52,1.58,2.43,1.54,...,0,0,0,0,0,0,0,0,0,0
3,39.0,54.0,1102.0,854.0,1.50,2.50,1.58,2.52,1.54,2.43,...,0,0,0,0,0,0,0,0,0,0
4,21.0,26.0,1785.0,1465.0,1.90,1.80,2.10,1.81,2.01,1.77,...,0,0,0,0,0,0,0,0,0,0

In [26]:
from sklearn.model_selection import train_test_split

y = X.Winner.values
X.drop(columns='Winner', inplace=True)

test_size = len(X)//5
X_test     = X[-test_size:]
y_test     = y[-test_size:]
X_train_80 = X[:-test_size]
y_train_80 = y[:-test_size]

# Random split for training and validation
X_train, X_valid, y_train, y_valid = train_test_split(X_train_80, y_train_80, test_size=0.25, random_state=42)

# Prediction models
We start by calculating how much powerful are the bookmakers' alghoritms, then we create and tune ours, let's see the results
## Baseline
Our first goal is to beat the average bookmaker accuracy

In [27]:
from sklearn.metrics import accuracy_score

#Player 1 wins if the odd is smaller than player 0
baseline = X_test['Avg1'] < X_test['Avg0']
baseline = baseline.astype(int)
baseline_test_acc = accuracy_score(y_true=y_test, y_pred=baseline)
print ("Test Accuracy: {:.2f}".format(baseline_test_acc*100), "%")

Test Accuracy: 68.46 %

In [28]:
from sklearn import tree
from sklearn.metrics import accuracy_score

accuracies = []

for max_leaves in range(5, 101, 5):
    # train and predict
    dt = tree.DecisionTreeClassifier(max_leaf_nodes=max_leaves)
    dt.fit(X_train, y_train)

    # compute Accuracy
    train_acc = accuracy_score(y_true=y_train, y_pred=dt.predict(X_train))
    valid_acc = accuracy_score(y_true=y_valid, y_pred=dt.predict(X_valid))
    print ("Leaves: {:2d} - Train Accuracy: {:.3f} - Validation Accuracy: {:.3f}".format(
        max_leaves,  train_acc, valid_acc) )
    
    accuracies += [ [valid_acc, max_leaves] ]

best_accuracy, best_max_leaves = max(accuracies)
print ( "Best Max Leaves", best_max_leaves )

# here we are using both training and validation,
# to exploit the most data
dt = tree.DecisionTreeClassifier(max_leaf_nodes=best_max_leaves)
dt.fit(X_train_80,y_train_80)

# Finally evaluate on test
test_acc = accuracy_score(y_true=y_test, y_pred=dt.predict(X_test))
print ("Test Accuracy: {:.3f}".format(test_acc))

Leaves:  5 - Train Accuracy: 0.852 - Validation Accuracy: 0.854
Leaves: 10 - Train Accuracy: 0.852 - Validation Accuracy: 0.854
Leaves: 15 - Train Accuracy: 0.854 - Validation Accuracy: 0.854
Leaves: 20 - Train Accuracy: 0.859 - Validation Accuracy: 0.847
Leaves: 25 - Train Accuracy: 0.861 - Validation Accuracy: 0.847
Leaves: 30 - Train Accuracy: 0.862 - Validation Accuracy: 0.846
Leaves: 35 - Train Accuracy: 0.864 - Validation Accuracy: 0.846
Leaves: 40 - Train Accuracy: 0.866 - Validation Accuracy: 0.845
Leaves: 45 - Train Accuracy: 0.867 - Validation Accuracy: 0.845
Leaves: 50 - Train Accuracy: 0.868 - Validation Accuracy: 0.845
Leaves: 55 - Train Accuracy: 0.872 - Validation Accuracy: 0.845
Leaves: 60 - Train Accuracy: 0.875 - Validation Accuracy: 0.845
Leaves: 65 - Train Accuracy: 0.876 - Validation Accuracy: 0.844
Leaves: 70 - Train Accuracy: 0.879 - Validation Accuracy: 0.844
Leaves: 75 - Train Accuracy: 0.880 - Validation Accuracy: 0.843
Leaves: 80 - Train Accuracy: 0.881 - Validation Accuracy: 0.839
Leaves: 85 - Train Accuracy: 0.883 - Validation Accuracy: 0.841
Leaves: 90 - Train Accuracy: 0.886 - Validation Accuracy: 0.839
Leaves: 95 - Train Accuracy: 0.889 - Validation Accuracy: 0.839
Leaves: 100 - Train Accuracy: 0.890 - Validation Accuracy: 0.839
Best Max Leaves 10
Test Accuracy: 0.852

In [30]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

from sklearn import tree
from sklearn.metrics import accuracy_score

accuracies = []

for estimators in range(1, 71, 5):
    # train a decision tree classifier
    rf = RandomForestClassifier(n_estimators=estimators)
    rf.fit(X_train, y_train)

    # compute Accuracy
    train_acc = accuracy_score(y_true=y_train, y_pred=rf.predict(X_train))
    valid_acc = accuracy_score(y_true=y_valid, y_pred=rf.predict(X_valid))
    print ("Estimators: {:2d} - Train Accuracy: {:.3f} - Validation Accuracy: {:.3f}".format(
        estimators,  train_acc, valid_acc) )
    
    accuracies += [ [valid_acc, estimators] ]

best_accuracy, best_estimators = max(accuracies)
print ( "Best Max Leaves", best_estimators )

# here we are using both training and validation,
# to exploit the most data
rf = tree.DecisionTreeClassifier(max_leaf_nodes=best_estimators)
rf.fit(X_train_80,y_train_80)

# Finally evaluate on test
test_acc = accuracy_score(y_true=y_test, y_pred=rf.predict(X_test))
print ("Test Accuracy: {:.3f}".format(test_acc))

Estimators:  1 - Train Accuracy: 0.911 - Validation Accuracy: 0.761
Estimators:  6 - Train Accuracy: 0.979 - Validation Accuracy: 0.816
Estimators: 11 - Train Accuracy: 0.995 - Validation Accuracy: 0.839
Estimators: 16 - Train Accuracy: 0.996 - Validation Accuracy: 0.835
Estimators: 21 - Train Accuracy: 0.999 - Validation Accuracy: 0.839
Estimators: 26 - Train Accuracy: 0.999 - Validation Accuracy: 0.843
Estimators: 31 - Train Accuracy: 0.999 - Validation Accuracy: 0.837
Estimators: 36 - Train Accuracy: 1.000 - Validation Accuracy: 0.849
Estimators: 41 - Train Accuracy: 1.000 - Validation Accuracy: 0.843
Estimators: 46 - Train Accuracy: 1.000 - Validation Accuracy: 0.852
Estimators: 51 - Train Accuracy: 1.000 - Validation Accuracy: 0.842
Estimators: 56 - Train Accuracy: 1.000 - Validation Accuracy: 0.849
Estimators: 61 - Train Accuracy: 1.000 - Validation Accuracy: 0.850
Estimators: 66 - Train Accuracy: 1.000 - Validation Accuracy: 0.848
Best Max Leaves 46
Test Accuracy: 0.844