# Lab IS&A
## Bagattin Enrico - Alessandro Doretto

In [1]:
# Import
import pandas as pd
import numpy as np
import glob
import seaborn as sns

# Modules
from utilities import *
from dataPreparation import *

In [2]:
# Import data
paths = list(glob.glob("matches/20*.xlsx"))
matches = [pd.read_excel(path) for path in paths]
# TODO: Load matches based on number of past years choosen 
df = pd.concat(matches, ignore_index=True, sort=False)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8254 entries, 0 to 8253
Data columns (total 40 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         8254 non-null   int64
 1   Location    8254 non-null   object
 2   Tournament  8254 non-null   object
 3   Date        8254 non-null   datetime64[ns]
 4   Series      8254 non-null   object
 5   Court       8254 non-null   object
 6   Surface     8254 non-null   object
 7   Round       8254 non-null   object
 8   Best of     8254 non-null   int64
 9   Winner      8254 non-null   object
 10  Loser       8254 non-null   object
 11  WRank       8250 non-null   float64
 12  LRank       8230 non-null   float64
 13  WPts        8251 non-null   float64
 14  LPts        8230 non-null   float64
 15  W1          8199 non-null   float64
 16  L1          8201 non-null   float64
 17  W2          8140 non-null   float64
 18  L2          8140 non-null   float64
 19  W3          4038 non-null   float64
 20  L3          4038 non-null   float64
 21  W4          830 non-null    float64
 22  L4          830 non-null    float64
 23  W5          299 non-null    float64
 24  L5          299 non-null    float64
 25  Wsets       8199 non-null   float64
 26  Lsets       8197 non-null   float64
 27  Comment     8254 non-null   object
 28  B365W       8217 non-null   float64
 29  B365L       8217 non-null   float64
 30  EXW         5238 non-null   float64
 31  EXL         5238 non-null   float64
 32  LBW         4527 non-null   float64
 33  LBL         4529 non-null   float64
 34  PSW         8204 non-null   float64
 35  PSL         8204 non-null   float64
 36  MaxW        8249 non-null   float64
 37  MaxL        8249 non-null   float64
 38  AvgW        8249 non-null   float64
 39  AvgL        8249 non-null   float64
dtypes: datetime64[ns](1), float64(28), int64(2), object(9)
memory usage: 2.5+ MB

In [3]:
df.head().T

,0,1,2,3,4
ATP,1,1,1,1,1
Location,Brisbane,Brisbane,Brisbane,Brisbane,Brisbane
Tournament,Brisbane International,Brisbane International,Brisbane International,Brisbane International,Brisbane International
Date,2017-01-01 00:00:00,2017-01-02 00:00:00,2017-01-02 00:00:00,2017-01-02 00:00:00,2017-01-02 00:00:00
Series,ATP250,ATP250,ATP250,ATP250,ATP250
Court,Outdoor,Outdoor,Outdoor,Outdoor,Outdoor
Surface,Hard,Hard,Hard,Hard,Hard
Round,1st Round,1st Round,1st Round,1st Round,1st Round
Best of,3,3,3,3,3
Winner,Thompson J.,Mahut N.,Ferrer D.,Edmund K.,Dimitrov G.
Loser,Ymer E.,Robert S.,Tomic B.,Escobedo E.,Johnson S.
WRank,79,39,21,45,17
LRank,160,54,26,141,33
WPts,689,1102,1785,1001,2035
LPts,372,854,1465,443,1320
W1,6,4,6,7,6
L1,3,6,3,6,2
W2,6,6,7,7,6
L2,2,3,5,6,3
W3,NaN,6,NaN,NaN,NaN
L3,NaN,4,NaN,NaN,NaN
W4,NaN,NaN,NaN,NaN,NaN
L4,NaN,NaN,NaN,NaN,NaN
W5,NaN,NaN,NaN,NaN,NaN
L5,NaN,NaN,NaN,NaN,NaN
Wsets,2,2,2,2,2
Lsets,0,1,0,0,0
Comment,Completed,Completed,Completed,Completed,Completed
B365W,1.28,1.5,1.9,1.36,1.4
B365L,3.5,2.5,1.8,3,2.75
EXW,1.22,1.45,1.88,1.35,1.38
EXL,3.5,2.35,1.75,2.75,2.65
LBW,1.3,1.53,2,1.4,1.4
LBL,3.5,2.5,1.8,3,3
PSW,1.31,1.58,2.1,1.42,1.41
PSL,3.73,2.52,1.81,3.09,3.13
MaxW,1.33,1.59,2.15,1.42,1.46
MaxL,3.9,2.55,1.82,3.25,3.13
AvgW,1.29,1.54,2.01,1.37,1.41
AvgL,3.5,2.43,1.77,3.01,2.85

In [4]:
df.describe(include='all', percentiles=[]).T

,count,unique,top,freq,mean,std,min,50%,max,first,last
ATP,8254,NaN,NaN,NaN,32.2989,18.9789,1,32,67,NaT,NaT
Location,8254,70,Paris,522,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Tournament,8254,81,Australian Open,508,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Date,8254,882,2020-01-21 00:00:00,51,NaN,NaN,NaN,NaN,NaN,2017-01-01,2020-02-16
Series,8254,5,ATP250,3521,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Court,8254,2,Outdoor,6894,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Surface,8254,3,Hard,4829,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Round,8254,8,1st Round,3712,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Best of,8254,NaN,NaN,NaN,3.39932,0.799539,3,3,5,NaT,NaT
Winner,8254,311,Nadal R.,166,NaN,NaN,NaN,NaN,NaN,NaT,NaT
Loser,8254,437,Paire B.,91,NaN,NaN,NaN,NaN,NaN,NaT,NaT
WRank,8250,NaN,NaN,NaN,59.7907,70.4475,1,44,1821,NaT,NaT
LRank,8230,NaN,NaN,NaN,86.4049,104.477,1,63,1821,NaT,NaT
WPts,8251,NaN,NaN,NaN,1755.96,1922.99,1,1038,12560,NaT,NaT
LPts,8230,NaN,NaN,NaN,1130.92,1162.02,1,828,12560,NaT,NaT
W1,8199,NaN,NaN,NaN,5.81315,1.22826,0,6,7,NaT,NaT
L1,8201,NaN,NaN,NaN,4.17986,1.81933,0,4,7,NaT,NaT
W2,8140,NaN,NaN,NaN,5.78698,1.26599,0,6,7,NaT,NaT
L2,8140,NaN,NaN,NaN,4.03686,1.83195,0,4,7,NaT,NaT
W3,4038,NaN,NaN,NaN,6.05547,0.92626,0,6,7,NaT,NaT
L3,4038,NaN,NaN,NaN,3.72536,1.77076,0,4,7,NaT,NaT
W4,830,NaN,NaN,NaN,5.78554,1.3133,0,6,7,NaT,NaT
L4,830,NaN,NaN,NaN,3.93735,1.93087,0,4,7,NaT,NaT
W5,299,NaN,NaN,NaN,6.61873,2.04688,2,6,26,NaT,NaT
L5,299,NaN,NaN,NaN,3.77592,2.6292,0,3,24,NaT,NaT
Wsets,8199,NaN,NaN,NaN,2.166,0.448776,0,2,3,NaT,NaT
Lsets,8197,NaN,NaN,NaN,0.435891,0.564481,0,0,2,NaT,NaT
Comment,8254,5,Completed,7982,NaN,NaN,NaN,NaN,NaN,NaT,NaT
B365W,8217,NaN,NaN,NaN,1.85795,1.06671,1.002,1.57,29,NaT,NaT
B365L,8217,NaN,NaN,NaN,3.26145,3.10471,0.967,2.37,41,NaT,NaT
EXW,5238,NaN,NaN,NaN,1.82311,0.934558,1,1.55,17,NaT,NaT
EXL,5238,NaN,NaN,NaN,2.9914,2.03374,1,2.35,20,NaT,NaT
LBW,4527,NaN,NaN,NaN,1.87396,1.06196,1,1.57,21,NaT,NaT
LBL,4529,NaN,NaN,NaN,3.17269,2.55614,1.01,2.37,41,NaT,NaT
PSW,8204,NaN,NaN,NaN,1.94391,1.18476,1.005,1.61,27.22,NaT,NaT
PSL,8204,NaN,NaN,NaN,3.5595,3.56152,1.01,2.47,37.8,NaT,NaT
MaxW,8249,NaN,NaN,NaN,2.0065,1.3253,1.01,1.65,41,NaT,NaT
MaxL,8249,NaN,NaN,NaN,3.769,4.1778,1.01,2.55,67,NaT,NaT
AvgW,8249,NaN,NaN,NaN,1.87054,1.01126,1.01,1.58,21.2,NaT,NaT
AvgL,8249,NaN,NaN,NaN,3.22506,2.71803,1.01,2.37,28.49,NaT,NaT

# Cleaning and preparing data
## Filling null:
* WRank, LRank: take the max rank plus one
* WPts, LPts: set default zero	
* Avg odd: take mode of matches with same (or similar) players rank
* B365, PS: fill with avg

In [5]:
neededCols = ['Location', 'Tournament', 'Series', 'Court', 'Surface',
       'Round', 'Winner', 'Loser', 'WRank', 'LRank', 'WPts', 'LPts',
       'Comment', 'B365W', 'B365L', 'PSW', 'PSL', 'AvgW', 'AvgL']
df = df[neededCols]

In [6]:
rankDefault = max(df['WRank'].max(), df['LRank'].max())+1
df.fillna({'WRank': rankDefault, 'LRank': rankDefault, 'WPts': 0, 'LPts': 0}, inplace=True)

In [ ]:
nullOddsDf = df[df[['B365W', 'B365L', 'PSW', 'PSL', 'AvgW', 'AvgL']].isna().any(axis=1)]

for index, row in nullOddsDf.iterrows():
     if pd.isnull(row['AvgW']) or pd.isnull(row['AvgL']):
         AvgW, AvgL = findOddsForRow(row, df.dropna(subset=['AvgW', 'AvgL']))
         df.at[index, 'AvgW'] = row['AvgW'] = AvgW
         df.at[index, 'AvgL'] = row['AvgL'] = AvgL
     if pd.isnull(row['B365W']):
         df.at[index, 'B365W'] = row['AvgW']
     if pd.isnull(row['B365L']):
         df.at[index, 'B365L'] = row['AvgL']
     if pd.isnull(row['PSW']):
         df.at[index, 'PSW'] = row['AvgW']
     if pd.isnull(row['PSL']):
         df.at[index, 'PSL'] = row['AvgL']

df.dropna(subset=['AvgW', 'AvgL'], inplace=True) # Drop rows that hasn't similar rank matches
df.info()

## One hot encoding
* Location
* Tournament
* Series
* Court
* Surface
* Round
* Players

## New features
* [Elo rating](https://en.wikipedia.org/wiki/Elo_rating_system): a method for calculating the relative skill levels of players in zero-sum games
* Number of matches played during the last year
* Percentage of matches won during the last year
* Injuries: number matches in witch the player retired or walkover in the past year 
* Winning streak: current sequence of won games

# First analysis
# odd (inverse -> percentuale di vincita secondo il banco) --> Calcolo percentuale di successo

# Models
# Carefully-tuned random forest classifier
# Naive Bayes